* {
    margin: 0;
    padding: 0;
    color: rgb(217, 213, 213);
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background-color: rgba(0, 0, 0, 0.928);
}
main{
    padding-top: 50px;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 25px;
        padding-top: 22px;
    }
}

.promo__image {
    color: rgba(220, 228, 227, 0.977);
    padding-top: 50px;
    
    h1 {
        margin-top: 25%;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
        margin: 0;
    }

    @media (min-width: 992px) {
        h1 {
            font-size: 2.1em;
        }
    }
}

.our-collection {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    letter-spacing: 3px;
    font-size: 30px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 30px;
}

.productName, .productPrice,.productBrand {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: 0.5px solid rgba(128, 128, 128, 0.553);
    cursor: pointer;
    font-size: 20px;
    outline: none;
    font-size: 16px;
    max-height: 50px; 
    overflow-y: auto;
}
.productPrice,.productBrand{
   
    height: 37px;
    color: white;
}

.productName::after, .productPrice::after, .productBrand::after{
    border: 0.5px solid rgb(56, 54, 54);
}

.search-btn {
    font-family: "Montserrat", sans-serif;
    background: rgba(211, 209, 209, 0.404);
    height: 35px;
    width: 150px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: rgb(13, 13, 13);
}

.search-name-btn:hover, .search-price-btn:hover {
    background: rgba(128, 128, 128, 0.404);
}
.price{
    display: flex;
    padding-top: 50px;
}
.btns {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;

    .next-page, .back-page {
        background: rgba(211, 209, 209, 0.404);
        width: 150px;
        height: 50px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        font-size: 38px;
        color: rgb(245, 239, 239);
        font-family: "Montserrat", sans-serif;

        &:hover {
            background: rgba(128, 128, 128, 0.404);
        }
    }
   
}

.back-page {
    margin-right: 10px;
}

.products-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    cursor: pointer;
    padding: 20px 20px 20px;
    margin-bottom: 25px;
    margin-left: 50px;
    width: 240px;
    height: 200px;
    border: none;
    border-radius: 20px;
    border: 0.5px solid rgba(211, 209, 209, 0.404);

    &:hover{
        background-color: rgba(240, 255, 255, 0.079);
    }
    p {
        font-family: "Montserrat", sans-serif;
        color: rgb(206, 200, 200);
        text-align: center;
        padding-top: 10px;
    }

    button {
        font-family: "Montserrat", sans-serif;
        background: rgba(211, 209, 209, 0.404);
        margin-left: 60px;
        margin-top: 50px;
        margin-bottom: 10px ;
        height: 30px;
        width: 100px;
        border-radius: 10px;
        border: none;
        cursor: pointer;  
    }

    button:hover {
        background: rgba(128, 128, 128, 0.404);
    }

     .brand {
        
        margin-bottom: 5px;
    }
    
    .name {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 15px;
    }
    
   .id {
        color: #777;
        margin-bottom: 15px;
        font-size: 13px;
        text-align: left;
    }
    .price{
        font-size: 16px;
    }
}